<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Home</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="subtitle">
    	<p>Adonis Starter</p>
    </div>
  </section>
</body>
</html>
